<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>ClassReservation</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<section style="margin-left: 200px; margin-top: -450px;">
		<div class="row">
			<div class="cardteacher">
				<img th:src="@{/images/zapato.jpg}" class="d-inline-block align-top"
					alt="">
				<div class="card-body">
					<h5 class="cardtitle"
						th:text="${teacher.person.firstName+' '+teacher.person.lastName}"></h5>
					<a class="btn btnteacher">Ver perfil</a> <a
						th:href="@{'/info/ClassReservations/' + ${teacher.id}}"
						class="btn btnteacher">Reservar clase</a>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>