<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<meta charset="ISO-8859-1">
<link th:href="css/scheduleStyle.css" rel="stylesheet" />
<title>Find your schedule here</title>
</head>
<body>
<header th:replace="layout/layout :: header"> </header>
<hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>

 <form class="d-flex">
        <input class="form-control me-2 " style="width: 700px" type="search" placeholder="Search your hour of class" aria-label="Search" >
        <button class="btn btn-primary" style="color: white ;background-color: blue" type="submit">Search</button>
      </form>


	<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Art</h5>
        <p class="card-text">Date : </p>
        <p class="card-text">Start Hour : </p>
        <p class="card-text">Finish Hour : </p>
        <a th:href="@{/students/}"class="btn btn-primary" style="color: black ;background-color: lightblue">See List Of Students </a>
         <a href="#" class="btn btn-primary">Enter Conference</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Math</h5>
       <p class="card-text">Date : </p>
        <p class="card-text">Start Hour : </p>
        <p class="card-text">Finish Hour : </p>
        <a th:href="@{/students/}" class="btn btn-primary"style="color: black ;background-color: lightblue">See List Of Students</a>
         <a href="#" class="btn btn-primary">Enter Conference</a>
      </div>
    </div>
  </div> 
  <div></div>
  <div></div>
  <div></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Science</h5>
       <p class="card-text">Date : </p>
        <p class="card-text">Start Hour : </p>
        <p class="card-text">Finish Hour : </p>
        <a th:href="@{/students/}" class="btn btn-primary" style="color: black ;background-color: lightblue">See List Of Students</a>
         <a href="#" class="btn btn-primary">Enter Conference</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">History</h5>
       <p class="card-text">Date : </p>
        <p class="card-text">Start Hour : </p>
        <p class="card-text">Finish Hour : </p>
        <a th:href="@{/students/}" class="btn btn-primary" style="color: black ;background-color: lightblue">See List Of Students</a>
         <a href="#" class="btn btn-primary">Enter Conference</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Grammar</h5>
       <p class="card-text">Date : </p>
        <p class="card-text">Start Hour : </p>
        <p class="card-text">Finish Hour : </p>
        <a th:href="@{/students/}" class="btn btn-primary" style="color: black ;background-color: lightblue">See List Of Students</a>
         <a href="#" class="btn btn-primary">Enter Conference</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">English</h5>
       <p class="card-text">Date : </p>
        <p class="card-text">Start Hour : </p>
        <p class="card-text">Finish Hour : </p>
        <a th:href="@{/students/}"class="btn btn-primary" style="color: black ;background-color: lightblue">See List Of Students</a>
         <a href="#" class="btn btn-primary">Enter Conference</a>
      </div>
    </div>
  </div>
  
</div>

</body>
</html>