<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<meta charset="ISO-8859-1">
<link th:href="css/scheduleStyle.css" rel="stylesheet" />

<title>Find your schedule here</title>
</head>
<body>
<header th:replace="layout/layout :: header"> </header>
<hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Valeria Zapata</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Gianluca Pinnela</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Alexandra Villanueva</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Sofia Pinedo</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Juan Moroco</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Fernanda Perez</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 300px">
      <img th:src="@{/images/estudiante1.jpg}" class="estudiante1">
      <div class="card-body">
        <h5 class="card-title">Juan Aguirre</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>