<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<link th:href="css/styles.css" rel="stylesheet" />
<link th:href="css/styleQualification.css" rel="stylesheet" />
<title>XTRACLASS</title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<main>
		<div class="conten">
			<video class="video" id="video" autoplay="true"></video>

			<div class="circulo">
				<a class="btn" th:href="@{'/conference/qualification'}"><i
					class="fas fa-phone-slash" style="width: 20px; height: 20px;"></i></a>
			</div>
			<script src="js/conference.js"></script>
		</div>
	</main>
</body>
</html>