h3 {
	color: black;
	font-size: 20px;
	font-family: 'Cabin', sans-serif;
	text-align: left;
	margin-top: -330px;
}

.cardsubject {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 2rem;
	width: 200px;
	
}

.cardtitle{
	position:static;
	font-family: 'Arial';
	text-align: center;
}
.btnSubject{
	background-color: Green;
	border-radius: 2rem;
	width: 200px;
	position:relative;
	height: 200px;
	font-style: oblique;
	font-size:26px;
	font-family:Aleo;
}
.myiconsSubject {
	width: 150px;
	height: 150px;
	display: block;
	margin-left: 105px;
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 30px;
}

.subjectchoose{
	position:relative;
	font-family: 'Arial';
	text-align: left;
	margin-top: -330px;
}