<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<link th:href="css/styles.css" rel="stylesheet" />
<title>XTRACLASS</title>

</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<section class="zoom">
		<div>
			<h1 class="adjust-title">Welcome</h1>
			<h1 class="adjust-title2">It's Nice To Meet You</h1>
			<h2 class="adjust-subtitle">XtraClass will help you with some appropriate
				reinforcement counseling to your needs, you are the one who chooses
				what to review and our teachers are at your disposal.</h2>
		</div>
	</section>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>