<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<link th:href="css/styles.css" rel="stylesheet" />
<title>XTRACLASS</title>

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
		<section class="zoom">
			<div class="container">
				<div class="masthead-heading text-uppercase">Welcome</div>
				<div class="masthead-heading text-uppercase">It's Nice To Meet
					You</div>
				<h2 class="Texto">XtraClass will help you with some appropriate
					reinforcement counseling to your needs, you are the one who chooses
					what to review and our teachers are at your disposal.</h2>
			</div>
		</section>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>