<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<title>XTRACLASS</title>
	<link th:href="css/styles.css" rel="stylesheet" />
</head>
<body>
 <header class="masthead" th:replace="layout/layout :: header"></header>
 <main >
 
 <!--<div>
 	<img th:src="@{/images/index.png}" alt="..." style="background-position: center center;"></img>
 	<h6> Bienvenido</h6>
 </div>
 	
 
 	<div>
 		
 	
 	</div>-->
 </main>   
 <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>