<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Teachers</title>
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>
	<h2 class="subjectchoose">Choose your teacher:</h2>
	<a th:href="@{/#}"><label><h2 class="h2teacher">Teachers</h2></label></a>
	<a th:href="@{/#}"><label><h2 class="h2teacher">Foro del curso</h2></label></a>
	<section style="margin-left: 200px;">
		<div class="row">
			<div th:each="teacher : ${teachers}" class="col-sm-3"
				style="padding: 5px;">
				<div class="cardteacher">
					<img th:src="@{/images/zapato.jpg}" class="d-inline-block align-top" alt="">
					<div class="card-body">
						<h5 class="cardtitle"
							th:text="${teacher.person.firstName+' '+teacher.person.lastName}"></h5>
						<a class="btn btnteacher">Ver perfil</a> 
						<a href="/reservarclase.html" class="btn btnteacher">Reservar clase</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>